{% load static %}
{% load blog_tags %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <div id='content'>
        {% block content %}
        {% endblock content %}
        {% include 'bottom.html' %}
    </div>
    
</body>
</html>