<div id="left-navbar">
       
    <div class="nav-list">
        <span> 
            {% if request.user.is_authenticated %}
                Hello {{request.user.username}},
                <a href="{% url 'account:logout'%}" class='sign-in'>Log-Out</a>

            {% else %}
                <a href="{% url 'account:register'%}" class="sign-up link">Get Started</a>
                <a href="{% url 'account:login'%}" class='sign-in'>Sign In</a>
            {% endif %}
            
        </span>
        <input type="text" placeholder="Search" class="search" >
        <span class="logo">
            <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
        </span>
        <p id="name">CodeVibes</p>
        <p>1.7K subscriptions</p>
        <p>For email notifications</p>
        <span>
            <a href="#" class="follow link">Subscribe</a>
            <a href="#" class='email'><img src="https://img.icons8.com/color/48/000000/circled-envelope.png"/></a>
        </span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <span class="donate">
            Support the website <br><br><a href="#" class="follow link" id="donate">Buy me Coffee</a>
        </span>
    </div>
    

</div>