<div id="left-navbar">
       
    <div class="nav-list">
        <span class="account"> 
            <a href="#" class="sign-up link">Get Started</a>
            <a href="#" class='sign-in'>Sign In</a>
        </span>
        <input type="text" placeholder="Search" class="search" >
        <span class="logo">
            <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
        </span>
        <p id="name">CodeVibes</p>
        <p>1.7K followers</p>
        <p>Software developer</p>
        <span>
            <a href="#" class="follow link">Follow</a>
            <a href="#" class='email'><img src="https://img.icons8.com/color/48/000000/circled-envelope.png"/></a>
        </span>
    </div>

</div>