<div class='bottom-nav'>
    
    <ul class="nav-list">
        <li><img src="https://img.icons8.com/ios/24/000000/appointment-reminders--v1.png"/></li>

        <li>
        <a href="{% url 'blog:blog_list'%}"> 
            <img src="https://img.icons8.com/material-rounded/24/000000/home.png"/>
        </a>    
        </li>
        <li>
        <a href="{% url 'blog:post_search'%}">
            <img src="https://img.icons8.com/ios-glyphs/28/null/search--v1.png"/>
        </a>
        </li>
        
        {% comment %} <a href='#'>
            <img src="https://img.icons8.com/ios/24/000000/bookmark-ribbon--v1.png"/>
        </a>
        </li>

        <li><img src="https://img.icons8.com/small/24/000000/making-notes.png"/></li>
         {% endcomment %}
    </ul>
    
</div>