<div id="navbar">
   
    
    <ul class="nav-list l-nav">
        <div class="logo">
            <a href="{% url 'blog:blog_list'%}">  
                <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
            </a>
           
        </div>
        <li>
        <a href="{% url 'blog:blog_list'%}"> 
            <img src="https://img.icons8.com/material-rounded/24/000000/home.png"/>
            <span class="l-link">
                Home
            </span>
        </a>    
        </li>
        <li>
        <img src="https://img.icons8.com/ios/24/000000/appointment-reminders--v1.png"/>
        <span class="l-link">

            Notification
        </span>
        </li>
        <li>
        <a href="{% url 'blog:post_search'%}">
            <img src="https://img.icons8.com/ios-glyphs/28/null/search--v1.png"/>
            <span class="l-link">

                Search
            </span>
        </a>
        </li>
        <li>
        <a href="{%url 'account:favourite_list'%}">
            <img src="https://img.icons8.com/ios/24/000000/bookmark-ribbon--v1.png"/>
            <span class="l-link">
                Bookmarks
            </span>
        </a>
        </li>

        <li><a href="{% url 'blog:new_blog'%}">
            <img src="https://img.icons8.com/small/24/000000/making-notes.png"/>
            <span class="l-link">
                Write
            </span>
            </a>
        </li>
        <li>
            <a href='#'>
                <img width="24" height="27" src="https://img.icons8.com/ios/30/secured-letter--v1.png" alt=""/>
                <span class="l-link">
                    Message
                </span>
            </a>
        </li>
        <li>
            <a href='#'>
                <img width="24" height="27" src="https://img.icons8.com/material-outlined/24/user--v1.png" alt=""/>
                <span class="l-link">
                    Profile
                </span>
            </a>
        </li>
        
    </ul>
    
</div>