{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}Homepage{% endblock title %}
{% block content %}
<div id="main-container">
   {% include 'right.html' %}
    <div id='container'>
        {% include 'navbar.html' %}

        <header id="detail-banner" class="banner">
            <!-- <span>
                {{blog.author}}<a href="#" class="follow link">Follow</a>
            </span> -->
            <span>{{blog.publish}}</span>
        </header>
   
        <div class="main">
            
            <div class="main-content">
                <div class="blog-body">
                    <h1 id="detail-title">{{blog.title}}</h1>
                    <div id="featured-image" >
                        <img src="{{ blog.featured_image.url }}" class="card-img-top" alt="{{ product.name }}">
                    </div>
                    <div id="detail-body">
                        {{blog.body|markdown}}
                    </div>
                    <div class='recommend-posts'>
                        <h2>Similar posts</h2>

                        {%for post in similar_posts%}
                            <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        {%empty%}
                            No similar post
                        {%endfor%}
                    </div>

                </div>
                <div>
                    <img src="https://img.icons8.com/fluency/24/null/comments.png"/>
                </div>
                {% with comments.count as total_comments %}

                    <h2 class='total-comments'>
                        {{total_comments}} comment{{total_comments|pluralize}}:
                    </h2>
                {% endwith %}
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-info">
                            <p class='n-info'>
                            {{comment.name|capfirst}} 
                            </p>
                            {% comment %} {{forloop.counter}} {% endcomment %}
                            <p class='info'>
                            {{comment.created|time}}
                            </p>
                        </div>
                        {{comment.body|linebreaks}}
                    </div>
                {% empty %}
                    <p>There are no comments yet</p>
                {% endfor %}
                {% if new_comment %}
                    <p></p>>
                {% else %}
                    <h2> Leave a comment below.</h2>
                    <form method='post'>
                        {{comment_form.as_p}}
                        {% csrf_token %}
                        <p>
                            <input type='submit' value='Add comment'>
                        </p>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'left.html' %}

</div>
{% endblock content %}