{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}
{% block content %}
<div id="main-container">
    <div id="navbar">
        <span class="logo">
            <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
        </span>
        <ul class="nav-list">
          
            <li><img src="https://img.icons8.com/material-rounded/24/000000/home.png"/></li>
            <li><img src="https://img.icons8.com/ios/24/000000/appointment-reminders--v1.png"/></li>
            <li><img src="https://img.icons8.com/ios/24/000000/bookmark-ribbon--v1.png"/></li>
            <li><img src="https://img.icons8.com/small/24/000000/document.png"/></li>
            <li><img src="https://img.icons8.com/small/24/000000/making-notes.png"/></li>
            
        </ul>
        
    </div>
    <div id='container'>
        <header class="banner">
            <h1>CodeVibes</h1>
            <br>
            <div class="menu">
                <p>Home</p>
            </div>
         
            <hr>
        </header>
        
        
        {% for blog in blogs %}
        <div class="main">
            <div class="main-content">
                <a href='#' class='blog-details'>{{blog.author}}.<span>{{blog.publish}}</span></a>
                <a href="#" class='blog-body'>
                    <h3 class='blog-title'>{{blog.title}}</h3>
                    <span>
                        {{blog.body|truncatewords:25|linebreaks}}
                    </span>
                </a>
            </div>
            <div class="featured-image" >
                <img src="{{ blog.featured_image.url }}" class="card-img-top" alt="{{ product.name }}">
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    <div id="left-navbar">
       
        <div class="nav-list">
            <span class="account"> 
                <a href="#" class="sign-up link">Get Started</a>
                <a href="#" class='sign-in'>Sign In</a>
            </span>
            <input type="text" placeholder="Search" class="search" >
            <span class="logo">
                <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
            </span>
            <p id="name">CodeVibes</p>
            <p>1.7K followers</p>
            <p>Software developer</p>
            <span>
                <a href="#" class="follow link">Follow</a>
                <a href="#" class='email'><img src="https://img.icons8.com/color/48/000000/circled-envelope.png"/></a>
            </span>
        </div>
    
    </div>

</div>
{% endblock content %}