{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}Homepage{% endblock title %}
{% block content %}
<div id="main-container">
   {% include 'right.html' %}
    <div id='container'>
        {% include 'navbar.html' %}

        <header id="detail-banner" class="banner">
            <!-- <span>
                {{blog.author}}<a href="#" class="follow link">Follow</a>
            </span> -->
            <span>{{blog.publish}}</span>
        </header>
   
        <div class="main">
            
            <div class="main-content">
                <div class="blog-body">
                    {% if query %}
                    <h1>Posts containing "{{ query }}"</h1>
                    <h3>
                        {% with results.count as total_results %}
                            Found {{ total_results }} result{{ total_results|pluralize }}
                        {% endwith %}
                    </h3>
                    {% for blog in results %}
                    <div class="main">
                        <div class="main-content">
                            <a href='#' class='blog-details'><span>{{blog.publish}}</span></a>
                            <a href="{{blog.get_absolute_url}}" class='blog-body'>
                                <h3 class='blog-title'>{{blog.title}}</h3>
                                <span id='body-content'>
                                    {{blog.body|truncatewords:25|linebreaks}}
                                </span>
                                
                            </a>
                            <div class='inclusions'>
                                {% comment %} <a href="{% url 'blog:post_share' blog.id %}">Share this post</a> {% endcomment %}
                                <p class='tags'>
                                   
                                    {% for tag in blog.tags.all %}
                                    <a href="{% url "blog:blog_list_by_tag" tag.slug %}">
                                        {{tag.name}}
                                    </a>
                                    {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <a  href="#">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" class="lj lk"><path d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z" fill="#292929"></path></svg>
                                                     
                                </a>
                            </div>
                            
                            
                        </div>
                       <div class="featured-image" >
                            <img src="{{ blog.featured_image.url }}" class="card-img-top" alt="{{ product.name }}">
                        </div> 
                    </div>
                    <hr>
                        {% comment %} <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                        {{ post.body|markdown|truncatewords_html:5 }} {% endcomment %}
                    {% empty %}
                        <p>There are no results for your search.</p>
                    {% endfor %}
                        <p><a href="{% url "blog:post_search" %}">Search again</a></p>
                    {% else %}
                        <h1>Search for posts</h1>
                        <form method="get">
                            {{ form.as_p }}
                            <input type="submit" value="Search">
                            </form>
                {% endif %}
                   

                </div>
            </div>
        </div>
    </div>
    {% include 'left.html' %}

</div>
{% endblock content %}

