{% extends 'base.html' %}

{% block content %}
<div class="user-account" id='register'> 
    <div class="card">
        <span class="user-logo">
            <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
        </span>
        <span class="register-banner">
            <h3>Password Set successfully</h3>
        </span>
        <div class='register-form'>
           
            <p>Your password has been updated</p>
           
        </div>
    </div>
</div>

{% endblock content %}