{% extends "base.html"%}

{% block content %}
<div class="user-account" id='register'>
   
    <div class="card">
        <span class="user-logo">
            <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
        </span>
        <span class="register-banner">
            <h3>Create a new account</h3>
        </span>
        <div id="register-form"></div>
        <form method="post" action="{% url 'account:register'%}">
            {% csrf_token %}
            {{ user_form.as_p}}
            <input type="submit" id="user-btn" value="Create an account">
            <input type="hidden" name="next" value="{% url 'blog:blog_list'%}">
        </form>
        </div>
    </div>
</div>

{% endblock %}