{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock title %}
{% block content %}
<div id="main-container">
   {% include 'right.html' %}
    <div id='container'>
   {% include 'navbar.html' %}

        <header class="banner">
            <h1>CodeVibes</h1>
            <br>
            <div class="menu">
                <p>Home</p>
            </div>
         
            {% comment %} <hr> {% endcomment %}
        </header>
        
        
        {% for blog in blogs %}
        <div class="main">
            <div class="main-content">
                <a href='#' class='blog-details'><span>{{blog.publish}}</span></a>
                <a href="{{blog.get_absolute_url}}" class='blog-body'>
                    <h3 class='blog-title'>{{blog.title}}</h3>
                    <span id='body-content'>
                        {{blog.body|truncatewords:25|linebreaks}}
                    </span>
                    
                </a>
                <div class='inclusions'>
                    {% comment %} <a href="{% url 'blog:post_share' blog.id %}">Share this post</a> {% endcomment %}
                    <p class='tags'>
                       
                        {% for tag in blog.tags.all %}
                        <a href="{% url "blog:blog_list_by_tag" tag.slug %}">
                            {{tag.name}}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <a  href="#">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" class="lj lk"><path d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z" fill="#292929"></path></svg>
                                         
                    </a>
                </div>
                
                
            </div>
            <div class="featured-image" >
                <img src="{{ blog.featured_image.url }}" class="card-img-top" alt="{{ product.name }}">
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% include 'left.html' %}

</div>
<div class='container pages'>
    {% include "pagination.html" with page=blogs %}
</div>
{% endblock content %} Tags: