
{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="main-container">
    {% include 'right.html' %}
    <div id='container'>
        {% include 'navbar.html' %}
        <header class="banner">
            <h1>CodeVibes</h1>
            <br>
            {% comment %} <div class="menu">
                <p></p>
            </div> {% endcomment %}
         
            {% comment %} <hr> {% endcomment %}
        </header>
        {% if sent %}
        <div class='user-account'>
            <h1> E-mail successfully sent</h1>
            <p> 
                "{{post.title}}" was successfully sent to {{form.cleaned_data.to}}
            </p>
    

            {% else %}
            <h3> Share "{{post.title}}" by e-mail</h3>
            <form method='post'>
                {% csrf_token %}
                {{form.as_p}}
                <input type='submit' value='Send E-mail'>
            </form>
        </div>

        {% endif %}
    {% include 'left.html' %}

    </div>

</div>
{% endblock content %}