{% extends 'base.html' %}

{% block content %}
<div class="user-account" id='register'> 
    <div class="card">
        <span class="user-logo">
            <img src="https://img.icons8.com/nolan/64/lunar-client.png"/>
        </span>
        <span class="register-banner">
            <h3>Change Your Password</h3>
        </span>
        <div class='register-form' >
            <form method='post'>
                {{form.as_p}}
                {% csrf_token %}
                <p><input id='user-btn' type='submit' value='Change'></p>
            </form>
        </div>
    <a href="{% url 'account:password_reset'%}">Reset Password</a>

    </div>
</div>  

{% endblock content %}